<div class="top-content" ng-if="!vm.isAuthenticated">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1>Issue Tracking System</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Login</h3>
                                <p>Enter username and password to log in:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-key"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <!--TODO finish validation-->
                            <form name="loginUserForm" class="login-form" novalidate>
                                <div class="form-group" ng-class="{ 'has-error' : loginUserForm.loginEmail.$error.required && !loginUserForm.loginEmail.$pristine } ">
                                    <label class="sr-only" for="login-email">Email</label>
                                    <input type="email" ng-model="loginUser.email" required name="loginEmail" placeholder="Email" class="form-control" id="login-email">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="login-password">Password</label>
                                    <input type="password" ng-model="loginUser.password" name="form-password" placeholder="Password" class="form-control" id="login-password">
                                </div>
                                <button type="submit" ng-click="vm.login(loginUser)" ng-disabled="loginUserForm.$invalid" class="btn">Login</button>
                            </form>
                        </div>
                    </div>
                    <div class="social-login">
                        <h3>...or login with:</h3>
                        <div class="social-login-buttons">
                            <a class="btn btn-link-1 btn-link-1-facebook" href="#">
                                <i class="fa fa-facebook"></i> Facebook
                            </a>
                            <a class="btn btn-link-1 btn-link-1-twitter" href="#">
                                <i class="fa fa-twitter"></i> Twitter
                            </a>
                            <a class="btn btn-link-1 btn-link-1-google-plus" href="#">
                                <i class="fa fa-google-plus"></i> Google Plus
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 middle-border"></div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Register</h3>
                                <p>Fill in the form below to get instant access:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-pencil"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form name="registerUserForm" class="registration-form" novalidate>
                                <div class="form-group" ng-class="{ 'has-error' : registerUserForm.registerEmail.$invalid && !registerUserForm.registerEmail.$pristine } ">
                                    <label class="sr-only" for="register-email">Email</label>
                                    <input type="email" ng-model="registerUser.email" name="registerEmail" required placeholder="Email" class="form-control" id="register-email">
                                    <div ng-messages="registerUserForm.registerEmail.$dirty && registerUserForm.registerEmail.$error">
                                        <div ng-message="required">Email is required</div>
                                        <div ng-message="email" class="has-error">Your email address is invalid</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="register-password">Password</label>
                                    <input type="password" ng-model="registerUser.password" ng-minlength="6" ng-maxlength="100" name="registerPassword" required placeholder="Password" class="form-control" id="register-password">
                                    <div ng-messages="registerUserForm.registerEmail.$invalid && !registerUserForm.registerEmail.$pristine">
                                        <div ng-message="required">This field is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="confirm-password">Confirm Password</label>
                                    <input type="password" ng-model="registerUser.confirmPassword" name="confirmPassword" required placeholder="Confirm password" class="form-control" id="confirm-password">
                                </div>
                                <button  type="submit" ng-click="vm.register(registerUser)"  class="btn">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="vm.isAuthenticated" style="color: white;">
    <div ng-header></div>
    <div class="container">
        <div class="col-md-4">
            <div ng-if="vm.isAdmin()" ng-controller="ProjectsContoller as project">
                <a href="#/projects/add"><button type="button" class="btn btn-lg btn-success">Add new project</button></a>
                <a href="#/projects" class="btn btn-lg btn-success" ng-click="project.getAllProjects()">All projects</a>
            </div>
        </div>
        <div class="col-md-8">
            <div ng-if="vm.userIssues.length !== 0">
                <table class="table" st-table="vm.userIssues">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Project</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="issue in vm.userIssues">
                            <td><a href="#issues/{{issue.Id}}">{{issue.Title}}</a></td>
                            <td>{{issue.Description}}</td>
                            <td><a href="#/projects/{{issue.Project.Id}}">{{issue.Project.Name}}</a></td>
                            <td>{{issue.DueDate | date: 'medium'}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5" class="text-right">
                                <div st-pagination="" st-items-by-page="5" st-displayed-pages="vm.issuesParams.pageSize"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div ng-if="userIssues.length === 0">
                <h3>You have no assigned issues.</h3>
            </div>
        </div>
    </div>
</div>

