<div class="container">
    <h2 class="color-cyan">Projects</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Project name</th>
                <th class="text-center">View project</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in vm.allProjects">
                <td>{{project.Name}}</td>
                <td class="text-center"><a href="#projects/{{project.Id}}" class="btn btn-default" role="button">View</a></td>
            </tr>
        </tbody>
    </table>
    <uib-pagination
        total-items="vm.projectsCount"
        items-per-page="vm.projectsParams.pageSize"
        ng-change="vm.getAllProjects()"
        ng-model="vm.projectsParams.pageNumber"
        max-size="9"
        boundary-link-numbers="true" rotate="false">
    </uib-pagination>

</div>
